.featured-posts{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(10,100px);
    background-color:#a09c9c;
    width:100%;
}

.main-posts1{
    background-color: white;
    grid-row:1/6;
    grid-column:1/3
}

.main-posts2{
    background-color:  rgb(105, 101, 101);
    grid-row:1/6;
    grid-column:3/5

}

.main-posts3{
    background-color: rgb(105, 101, 101);
    grid-row:6/11;
    grid-column:1/3
}



.main-posts4{
    background-color: white;
    grid-row:6/11;
    grid-column: 3/5
}
.center-div{
    grid-row:1;
    grid-column: 2/4;
    text-align: center;
    display:flex;
    flex-direction: column;
   font-size:20px;
   margin-top:30px
}

.div1 ,.div2{
    background-color:rgb(226, 217, 217);
    width:40%;
    margin: 0px auto;
}

.div2{
    width:20%
}
.image{
    /* width:20%; */
    height:20%;
    /* background-color: #a09c9c; */
    text-align: center;
    border-radius: 50%;
    margin-left: 25px
}

.write-up{
    /* background-color: grey; */
    width:60%;
    height:40%;
    font-size:28px;
    padding:10px;
    margin-top:10px ;
    line-height: 1.6;
    margin-left:25px
}

.divine{
    display:flex;
    margin-top:40px;
    margin-left: 25px;
    font-weight:bold

}

.strategy , .let{
    /* background-color: #5e5454; */
    padding:10px
}



